* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    background: transparent;
}

body {
    background: #000;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}